In [1]:
require 'pycall/import'
include PyCall::Import

Object

In [2]:
pyimport :pandas, as: :pd

:pd

In [3]:
require 'pycall/iruby_helper'

true

In [4]:
pd.DataFrame.([1, 2, 3, 4, 5])

   0
0  1
1  2
2  3
3  4
4  5